.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
}

.slds-table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    white-space: nowrap;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #f4f6f9;
    transition: background-color 0.2s ease;
}